.block_img1 {
	margin-top: 0;
	text-align: center;
	display: block;
}
	
.img1 {
	width: 25%;
	height: 25%;
	object-fit: cover;
}

.block_img2 {
	margin-top: 0;
	text-align: center;
	display: block;
}
		
.img2 {
	width: 25%;
	height: 25%;
	object-fit: cover;
}

.block_img2 >.block_img2-h1 {

}

.block_img3 {
	margin-top: 0;
	text-align: center;
	display: block;
}
			
.img3 {
	width: 25%;
	height: 25%;
	object-fit: cover;
}